* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  --logo-color: #c8b568;
  --primary-color: #229b50;
}

.text-logo {
  color: var(--logo-color);
}

#spacer {
  padding: 0px;
}
#slider img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#slider {
  width: 100%;
  height: 100vh;
}

h1,
h2,
h3 {
  font-family: "Raleway", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#footer .socials a,
.footer-section a {
  color: #333;
}
.footer-section a:hover {
  color: var(--primary-color);
  transition: 0.5s all;
}
.footer-section i {
  color: var(--primary-color);
}

.nav-footer {
  font-size: 18px;
}
.nav-footer i {
  color: var(--primary-color);
}
#footer a:hover {
  text-decoration: underline;
  color: var(--primary-color);
  transition: 0.5s all;
}

.text-custom-green {
  color: var(--primary-color);
}

/* hero */
#hero {
  display: table;
  width: 100%;
  height: 100vh;
  background: url(/img/bg-hero-3.jpg) top center;
  background-size: cover;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-logo {
  margin: 20px;
  max-width: 500px;
  margin: auto;
}

#hero .hero-logo img {
  max-width: 100%;
}

#hero .hero-container {
  background: rgba(0, 0, 0, 0.5);
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 40px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #ccc;
  margin-bottom: 50px;
}

#hero h2 span {
  color: #fff;
  transition: 0.3s;
  border-bottom: 2px solid var(--primary-color);
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
}

/* carousel indicator */
.carousel-indicators > button {
  background: var(--primary-color);
}
.carousel-indicators button:nth-of-type(1) {
  background-color: var(--primary-color);
  height: 5px;
}

.carousel-indicators button:nth-of-type(2) {
  background-color: var(--primary-color);
  height: 5px;
}

.carousel-indicators button:nth-of-type(3) {
  background-color: var(--primary-color);
  height: 5px;
}

.carousel-inner > .carousel-item {
  position: relative;
  max-height: 100%;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* overlay */
.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 27%,
    rgba(0, 0, 0, 0.5) 90%
  );
}

.overlay * {
  z-index: 10;
}

/* quote btn */
.quote-price {
  color: #fff;
  padding: 1rem 1.5rem;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.quote-price:hover {
  background: var(--primary-color);
  border: 2px solid #fff;
}

.quote-price-sm {
  padding: 5px 10px;
}

/* navigation */
#main-menu {
  height: 70px;
}

nav .navbar-brand img {
  width: 100%;
  height: 50px;
}

.navbar-nav .nav-link {
  color: #fff;
  padding: 10px 0;
}

.bg-success-primary {
  background: #333;
}
.btn-success-primary:hover {
  border: 1px solid var(--primary-color);
}
.btn-success-primary {
  background-color: var(--primary-color);
  border: 1px solid #fff;
  color: #fff;
}
input[type="saerch"]:focus {
  outline: 0;
  border: var(--primary-color) solid 2px;
}

.bg-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}
#main-menu {
  height: 100%;
}
.nav-link:hover {
  border-bottom: 2px solid var(--primary-color);
}

h5.active {
  font-size: 40px;
}
.current {
  border-bottom: 2px solid var(--primary-color);
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  z-index: 1000;
}
/* section about */
section {
  overflow: hidden;
}

.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: var(--primary-color);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Services Section */
#services {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../img/services-bg.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#services .service-item {
  margin-bottom: 20px;
}

#services .service-icon {
  float: left;
  background: var(--primary-color);
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid var(--primary-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

#services .service-icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

#services .service-item:hover .service-icon {
  background: #fff;
}

#services .service-item:hover .service-icon i {
  color: var(--primary-color);
}

#services .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#services .service-title a {
  color: #111;
}

#services .service-description {
  margin-left: 80px;
  line-height: 24px;
}

/* Subscribe section */
#subscribe {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/img/hero-bg.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#subscribe .subscribe-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#subscribe .subscribe-text {
  color: #fff;
}

#subscribe .subscribe-btn-container {
  text-align: center;
  padding-top: 20px;
}

#subscribe .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
}

#subscribe .subscribe-btn:hover {
  background: var(--primary-color);
}

/* Section about  */
#about {
  background: #eee;
  padding: 80px 0;
}

#about .about-img {
  overflow: hidden;
}

#about .about-img img {
  max-width: 100%;
}
@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }

  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}

/*  footer  */
.footer-section a,
.footer-section p,
.footer-section h3 {
  color: #fff;
}
#footer i,
#footer p {
  color: #fff;
}
#footer i:hover {
  color: var(--primary-color);
}
